<form autocomplete="off">
    <h1>Realmente deseja excluir este Cadastro?</h1>

    <mat-form-field class="form">
        <mat-label>Id</mat-label>
        <input matInput type="text" name="id" disabled  class="input-font"  [(ngModel)]="pessoa.id"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Data Nascimento</mat-label>
        <input matInput type="date" name="dataNascimento" class="input-font"  disabled [(ngModel)]="pessoa.dataNascimento"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" disabled  class="input-font" [(ngModel)]="pessoa.nome"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>CPF</mat-label>
        <input matInput type="text" name="cpf" maxlength="11" disabled  class="input-font"  [(ngModel)]="pessoa.cpf"> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Data Cadastro</mat-label>
        <input matInput type="date" name="dataCadastro" disabled  class="input-font" [(ngModel)]="pessoa.dataCadastro" > 
    </mat-form-field>

    <div class="buttons">
        <button mat-raised-button (click)="delete()" color="primary" class="mat-elevation-z8">Deletar</button>
        <button mat-raised-button (click)="irParaConsultaPessoas()" class="mat-elevation-z8">Voltar</button>
    </div>
</form>