form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
    margin-bottom: 20rem;
}

.form{
    width: 70%;
    margin: .8rem auto 0 auto;
}


h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.8rem;
}

.buttons{
    width: 70%;
    margin: auto;
    text-align: end;
}

.buttons button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.input{
    min-width: 180px;
}